.admin_create_box {
  display: flex;
  gap: 30px;
}

.admin_create_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.admin_create_field p {
  font-weight: bold;
  letter-spacing: 0.5px;
}
.admin_create_field small {
  transform: translateY(3px);
}

.create_user form {
  position: relative;
}

.create_user form .warning_box-unique {
  position: absolute;
  background-color: rgb(236, 232, 232);
  width: 30vw;
  height: 150px;
  z-index: 20;
  top: 50vw;
  left: 50vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transform: translate(-50vw, -50vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
}

.create_user form .warning_box-unique .close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.fa-pen-to-square,
.fa-trash,
.fa-check-circle {
  cursor: pointer;
}
/* Users Container */
.users_container {
  position: relative;
}

.users_container .search_actions{
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap:10px
}
.users_container .search_actions p{
  transform: translateY(7px);
}
.users_container table .avatar {
  max-width: 100px;
  max-height: 80px;
  width: 100%;
  object-fit: cover;
}

.users_container table .arrows{
  margin-left: 5px;
  cursor: pointer;
}

.users_container .warning_box-delete {
  position: absolute;
  background-color: rgb(236, 232, 232);
  width: 30vw;
  height: 150px;
  z-index: 20;
  top: 50%;
  left: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

/* Upload image */
.selected_image_box {
  position: relative;
}
.selected_image_box .close_btn {
  position: absolute;
  z-index: 1;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.selected_image {
  max-width: 100px;
  max-height: 120px;
  width: 100%;
}
.selected_image.loading_gif {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
}

/* PAGINATION SORTING */

.page_actions {
  width: 50%;
  margin: 30px auto;
}

.page_actions .page_selections{
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 15px;
}
.page_actions .page_selections label{
  transform: translateY(5px);
}
.page_actions .page_selections input{
  margin-left: 20px;
  width: 30px;
  padding-left: 5px;
}
.page_actions .the_pages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_actions .the_pages .arrow_btn{
    border: none;
    background-color: transparent;
    outline: none;
}


.page_actions .the_pages .arrow_btn:disabled{
    color: gray;
}

.the_pages .page_numbers {
    display: flex;
    gap:1px;
}

.page_numbers .page_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}
.page_numbers .page_number.active{
  border-color:red;
  color:red;
  font-weight: bold;
}
